.char {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__items {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
    column-gap: 20px;
  }

  &__item {
    width: 100%;
    max-width: 250px;
    background-color: #ffff;
    box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 3%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    animation: pagination 0.3s ease-in-out;

    &-enter {
      opacity: 0;
      transform: scale(1.1);
    }

    &-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 300ms, transform 300ms;
    }

    &-exit {
      opacity: 1;
      transform: scale(1);
    }

    &-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }

    &:hover {
      transform: scale(1.05);
    }

    &-img {
      width: 100%;
      max-width: 200px;
      border-radius: 3%;
      box-shadow: 21px 26px 19px -7px rgba(34, 60, 80, 0.2);
      transform: translate(25px, -30px);
    }

    &-name {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

@keyframes pagination {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
